body {
	margin: 0;
	padding: 0;
	font-family: 'Courier New', Courier, monospace;
}

header {
	background-color: #11a560;
	color: rgb(255, 255, 255);
	text-align: center;
	padding-top: 5px;
	display: block;
	margin-top: 0px;
	margin-bottom: 60px;
	box-sizing: border-box;
	position: relative;
	width: 100%;
}
#flexCenter {
    display: flex;
    margin-left: auto;
	margin-right: auto;
	width: 310px;
	text-align: center;
}

.A{
	margin-right: 10px
}


p {
	font-size: 14pt;
	font-weight: bold;
	text-align: center;
	position: relative;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

a {
	color: #11a560;
	text-decoration: none;
}
a:hover {
	color: #11a560;
}
a:visited {
	color: #11a560;
}

#tab-tic-tac-toe {
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
	font-size: 2em;
	color: black;
	background: white;
	width: 300px;
	height: 50%;
	text-align: center;
	vertical-align: center;
	border: 1px solid white;
	border-radius: 5px;
	box-shadow: 1px 1px 1px white;
}

#tab-tic-tac-toe td {
	border-collapse:collapse;
	border-left: 5px solid #11a560;
	border-bottom: 5px solid #11a560;
}

#tab-tic-tac-toe td:first-child {
	border-left: none;
}

#tab-tic-tac-toe tr:last-child td {
	border-bottom: none;
}

#tab-tic-tac-toe td {
	cursor: pointer;
	height: 40px;
	width: 95px;
}

#tab-tic-tac-toe td:hover {
	background: white;
}

#bnt-restart {
	display: block;
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
	width: 200px;
	background: #11a560;
	font-size: 1.5em;
	color: #FFF;
	border: none;
	border-radius: 6px;
	cursor: pointer;
}

#bnt-restart:hover {
	background: #11a560;
}

#bnt-restart:active {
	background: #11a560;
}

#bnt-restart:disabled {
	color: #444;
	background: gray;
}

#bnt-7x7 {
	display: block;
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
	width: 100px;
	background: #11a560;
	font-size: 1.5em;
	color: #FFF;
	border: none;
	border-radius: 6px;
	cursor: pointer;
}

#bnt-7x7:hover {
	background: #11a560;
}

#bnt-7x7:active {
	background: #11a560;
}

#bnt-7x7:disabled {
	color: #444;
	background: gray;
}
